@model List<LibraryProject.Models.BookLoans>

<h2>Books Currently On Loan</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Book Title</th>
            <th>Author(s)</th>
            <th>Member Name</th>
            <th>Loan Date</th>
            <th>Due Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var loan in Model)
        {
            <tr>
                <td>@loan.Book.Title</td>
                <td>@string.Join(", ", loan.Book.BookAuthors.Select(ba => ba.Author.Name))</td>
                <td>@loan.Member.Name</td>
                <td>@loan.LoanDate.ToShortDateString()</td>
                <td>@loan.DueDate.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
